.card {
  border: 1px solid #000;
  border-radius: 0.5rem;
  min-width: 300px;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.card-title {
  font-weight: bold;
}

.logout-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
